<div class="card">
  <div class="card-content">
    <div class="row">
      <% if (req.user) {%>
        <p> Bienvenue <%= req.user.username %> ! </p>
      <% } else { %>
        <p> Not logged in </p>
      <% } %>
	  
	  <br/>
	  <p>Upload image</p>
	  <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="name" id="id">
        <button>Upload</button>
      </form>
	  
    </div>
  </div>
</div>
